@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;box-sizing: border-box;
    font-family:'Poppins',sans-serif ;
    text-decoration: none;
    list-style: none;
}
body{
    scroll-behavior: smooth;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    text-align: center;
}
.navbar{
    width: 100%;
    height: 10%;
    padding: 0 3rem;
    background-color: lightyellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 2px  13px rgba(55, 55, 8, 0.5);
    position: fixed;
}
.navbar h1{
    color: #610505;
    font-style: italic;
    font-weight: 600;
}
.navbar ul{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 5rem;
}
.navbar ul li a{
    color: black;
}
#home{
    height:93.5vh;
    width: 100%;
   background-image: url(front1.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: #fff;
}
#home h1{
   font-size: 3rem;
font-weight: bolder;
}
#home p{
    font-weight: bold;
}
#home div{
    display: flex;
    margin-top: 2rem;
}
#home div #text{
   background-color: #fff;
   padding: 0.5rem 5rem;
   border: none;
   outline: none;
   border-radius: 3px;
   color: #000;
}
#home div #btn{
    padding: 0 1rem;
    color: #fff;
    background-color: #610505;
    border: none;
   outline: none;
   border-radius: 3px;
}

#recipe{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;

    
}
.card{
    height: 400px;
    width: 300px;
    background-color: #f4f1f1;
}
.card-image{
     height: 300px;
}
.card-content{
    height: 100px;
}
.card h1{
    margin: 3px;
}
.card p{
    font-size: 14px;
    font-weight: 400;
}
.card button{
    width: 300px;
    height: 50px;
    background-color:#800000;
    color: white;
    border: none;
    outline: none;
}
#card1{
    background-image: url(pancake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#card2{
    background-image: url(soup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#card3{
    background-image: url(panner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#card4{
    background-image: url(salad.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#card5{
    background-image: url(speggati.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#card6{
    background-image: url(burger.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#card7{
    background-image: url(pizza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#card8{
    background-image: url(sweet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



